<div div class="p-grid" style="display: flex; flex-wrap: wrap">
  <div class="p-col-12 p-md-6 p-lg-4" style="flex: 1 0 21%; margin: 1%">
    <div style="margin-top: 20px; margin-left: 20px;">
      <app-registrar-vehiculo></app-registrar-vehiculo>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4" style="flex: 1 0 21%; margin: 1%">
    <div style="margin: 20px">
      <app-registrar-salida></app-registrar-salida>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 20px">
  <router-outlet></router-outlet>
</div>
